@import url(./assets/css/home.css);
@import url(./assets/css/aparelho.css);
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav, footer{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex; width: 100vw;
  justify-content: center; align-items: center;
  height: 8vh; background-color: rgb(68, 115, 255);
  
  & a{color: rgb(0, 0, 0); font-size: 1.5em; padding: 15px; text-decoration: none; }
  & a:hover{color: rgb(93, 244, 255); font-size: 1.5em; padding: 15px; text-decoration: none; }
  }


 

  main{ display: flex; width: 100%;
  flex-direction: column; justify-content: center;
  align-items: center; height: 70vh;
  }
